In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range('20200101', periods=6)
df= pd.DataFrame(np.random.randn(6,4), index = datas, columns=['Var_A', 'Var_B', 'Var_C', 'Var_D'])

In [3]:
df

               Var_A     Var_B     Var_C     Var_D
2020-01-01 -0.910934  3.266120  0.397052  0.193470
2020-01-02 -1.151680  0.255448 -0.394054 -1.034216
2020-01-03 -0.989236  1.474545  1.454199  0.883004
2020-01-04 -1.666295 -1.018723  0.058852  0.574446
2020-01-05  0.771093  0.558785  0.743101  0.268919
2020-01-06 -1.353193  1.303447 -0.404285 -0.246199

In [4]:
df2 = pd.DataFrame({'A': 1., 
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3]*4, dtype='int32'),
                    'E': pd.Categorical(['test', 'train', 'test', 'train']),
                    'F': 'Python'})

In [5]:
df2

     A          B    C  D      E       F
0  1.0 2013-01-02  1.0  3   test  Python
1  1.0 2013-01-02  1.0  3  train  Python
2  1.0 2013-01-02  1.0  3   test  Python
3  1.0 2013-01-02  1.0  3  train  Python

In [6]:
df2.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [30]:
df1 = df.reindex(index=datas[0:4], columns=list(df.columns) + ['Var_E'])

In [31]:
df1

               Var_A     Var_B     Var_C     Var_D  Var_E
2020-01-01 -0.910934  3.266120  0.397052  0.193470    NaN
2020-01-02 -1.151680  0.255448 -0.394054 -1.034216    NaN
2020-01-03 -0.989236  1.474545  1.454199  0.883004    NaN
2020-01-04 -1.666295 -1.018723  0.058852  0.574446    NaN

In [32]:
df1.iloc[[0, 2], [4]] = 77

In [33]:
df1

               Var_A     Var_B     Var_C     Var_D  Var_E
2020-01-01 -0.910934  3.266120  0.397052  0.193470   77.0
2020-01-02 -1.151680  0.255448 -0.394054 -1.034216    NaN
2020-01-03 -0.989236  1.474545  1.454199  0.883004   77.0
2020-01-04 -1.666295 -1.018723  0.058852  0.574446    NaN